.box {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: 0.5px solid #a4a4a4;
  box-shadow: 2px 6px 10px #00000029;
  height: 406px;
  left: 590px;
  opacity: 1;
  position: relative;
  top: 128px;
  width: 740px;
}

.input-label {
  top: 157px;
  left: 882px;
  width: 142px;
  height: 20px;
  text-align: center;
  font: normal normal normal 16px/16px Varela Round;
  letter-spacing: 0px;
  color: #a4a4a4;
  opacity: 1;
}
